
.icon-graduation-cap:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e809'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-linkedin-1:before { content: '\f31a'; } /* '' */
